.DS_Store
r.js
build/tests/builds
build/tests/lib/comments/built.js
build/tests/lib/empty/built
build/tests/lib/namespace/foo.js
build/tests/lib/plugins/main-built.js
build/tests/lib/dotpackage/built
build/tests/lib/nested/main-built.js
build/tests/lib/nested/main-builtWithCE.js
build/tests/override/node_modules
build/tests/override/one-built.js
tests/node/node_modules
tests/node/embedded/node_modules
